@font-face {
  font-family: "Heeboo-regular";
  src: url("../assets/fonts/Heebo-Regular.ttf");
}

@font-face {
  font-family: "Heeboo-bold";
  src: url("../assets/fonts/Heebo-Bold.ttf");
}

@font-face {
  font-family: "Heeboo-extrabold";
  src: url("../assets/fonts/Heebo-ExtraBold.ttf");
}

@font-face {
  font-family: "Hepta-bold";
  src: url("../assets/fonts/HeptaSlab-Bold.ttf");
}

@import url("./base/general.css");
@import url("./base/typography.css");

@import url("./components/buttons.css");
@import url("./components/image.css");
@import url("./components/seance-cards.css");
@import url("./components/seat.css");
@import url("./components/seance-affiche.css");
@import url("./components/resume-card.css");

@import url("./layout/navbar.css");
@import url("./layout/header.css");
@import url("./layout/filter.css");
